
#navbar{
    display:flex;
    justify-content: space-around;
    background-color:rgb(234, 234, 166);
   
}

#container{
    margin-top:-200px;
     display:grid;
     grid-template-columns:repeat(4,1fr);
     grid-template-rows: 200px;
     gap:50px;
    
  }
     
    #container>div{
     margin:auto;
    
  }
     img{
        width:300px;
       
    }
  p+img{
      width:120px;
      margin-top:-20px;
      margin-left:30px
  } 
   p{
      margin-left:43px
  } 
      h3{
      margin-left:40px
     } 
   *{
       color:purple;
       background-color: antiquewhite;
   }
   a{
    background-color:rgb(234, 234, 166);
    font-size:40px;
   
   }
   #navbar+h1{
       font-size:40px;
       margin-top:-40px;
       text-decoration:underline;
      
          
   }
  